backend/get_quote.json
{
  "name": "get-quote",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-quote",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        80
      ],
      "id": "68400687-da84-4aac-b903-381e980409a1",
      "name": "Webhook",
      "webhookId": "b4274b2e-860b-40f6-a3d5-c214833b3146",
      "credentials": {
        "jwtAuth": {
          "id": "M1b9bXErsWA8CWPu",
          "name": "Morad JWT"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.body[\"הצעה\"] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "הצעה",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "3a6a9f50-1b56-4a91-b304-eec644abdd98",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7Nf6LV7z3CyBzjEz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        920,
        60
      ],
      "id": "9a7e2f4b-bdd1-41c7-acd5-69bc0340d0cb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "return {\n  text: $input.first().json[\"הצעה\"],\n  suggestion: $input.first().json[\"שיפור\"]\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "6841e2bb-1d3f-4d52-ac42-57d4e4c4b30a",
      "name": "Code"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.body[\"הצעה\"] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "פריטים",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        200
      ],
      "id": "89b4364a-8985-48f5-a776-300ca2c465f1",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7Nf6LV7z3CyBzjEz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        680,
        60
      ],
      "id": "8040df22-e70e-49b0-9d81-70089957c9bf",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4220e63-f09c-4129-a473-38ee8de47947",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d04943ab0b8558ce4e0fb65bfcf1537e0e7b9ebd3742679621a0c4e4d54e9e3c"
  },
  "id": "qKbNryXNDsYKliGz",
  "tags": []
}