backend/get_visit.json
{
  "name": "get-visit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-visit",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2440,
        -100
      ],
      "id": "70fd3dd5-f72d-437f-81e2-195f002aa0c8",
      "name": "Webhook",
      "webhookId": "16881747-1cf8-4c4c-8831-cb9276f37ea8",
      "credentials": {
        "jwtAuth": {
          "id": "M1b9bXErsWA8CWPu",
          "name": "Morad JWT"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1120,
        -100
      ],
      "id": "7390c673-3860-4056-8418-82c215830116",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.body.visitId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "פריטים",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1980,
        -100
      ],
      "id": "a110db02-9a7d-4d4f-bdd9-cf3ce1224705",
      "name": "Get Visit Items",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7Nf6LV7z3CyBzjEz",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Visit Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Visit Items": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e60f6168-505c-4370-a712-0fd514d3170e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d04943ab0b8558ce4e0fb65bfcf1537e0e7b9ebd3742679621a0c4e4d54e9e3c"
  },
  "id": "vmH7cUFcH5XqdSZv",
  "tags": []
}